<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>開店処理</title>
</head>
<body>



    <h1>🌞 開店処理</h1>

    <form th:action="@{/dashboard/operations/opening/submit}" method="post">

        <ul>
            <li th:each="item : ${checklist}">
                <label>
                    <input type="checkbox" name="checklist" th:value="${item}">
                    <span th:text="${item}">チェック項目</span>
                </label>
            </li>
        </ul>

        <button type="submit">✅ 開店する</button>
    </form>

    <br>
    <a th:href="@{/dashboard}">🏠 ダッシュボードに戻る</a>
</body>
</html>


